.chatWindow .startContent h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin-top: 18px;
}

.chatWindow .startContent h1 .brandHello {
    background: linear-gradient(#00ffbe, #00e9c7, #00bbc8, #00a3bf, #00759a);
    background-size: 400% 100%;
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chatWindow .startContent h1 .brandQuestion {
    color: #00a3bf;
}

.chatWindow .startContent ul {
    display: inline-flex;
    width: 830px;
    margin-top: 50px;
}

.chatWindow .startContent ul li {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #34A0A4;
    cursor: pointer;
}

.chatWindow .startContent ul li:hover {
    background: #34A0A4;
}

.chatWindow .startContent .promptSuggestion {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 175px;
}

.chatWindow .startContent .promptSuggestion p {
    margin: 1rem;
}

.chatWindow .startContent .promptSuggestion .icon {
    text-align: begin;
}

.chatWindow .startContent .promptSuggestion i {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
